<article class="login">
  <h2>Авторизация</h2>
  <%= form_tag do %>
      <fieldset>
        <legend>Вход</legend>
        <div>
          <%= label_tag :login, 'Пользователь' %>
          <%= text_field_tag :login, params[:login], required: true %>
        </div>
        <div>
          <%= label_tag :password, 'Пароль' %>
          <%= password_field_tag :password, params[:password], required: true %>
        </div>
        <div>
          <%= button_tag 'Войти', type: :submit %>
        </div>
      </fieldset>
  <% end %>
</article>
