<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @title || 'Без названия' %> :: Reactiongifs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Реакции в GIF-картинках</h1>
</header>

<section id="content">
  <% unless flash[:notice].nil? %>
<div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>
</section>

<footer>
  <aside>version 0.1.0beta</aside>
  <div>&#0169; 2013 reactiongifs.ru</div>
</footer>
</body>
</html>
